.uuid
deps/
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-journal
nest.conf
phue.conf
plex.conf
secrets.yaml
appdaemon-apps/__pycache__/*
appdaemon_conf/API.md
appdaemon_conf/appdaemon  
appdaemon_conf/conf/appdaemon.cfg
appdaemon_conf/Dockerfile  
appdaemon_conf/HISTORY.md  
appdaemon_conf/LICENSE.md  
appdaemon_conf/log  
appdaemon_conf/MANIFEST.in  
appdaemon_conf/README.md  
appdaemon_conf/requirements.txt  
appdaemon_conf/scripts
appdaemon_conf/setup.py
appdaemon_conf/TUTORIAL.md  
appdaemon/
*~
*.swp
